@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*font-family: 'Roboto Mono', monospace;*/
}

button {
    padding: 4px;
    background: rgb(52, 132, 155);
    border: 4px solid aliceblue;
    border-radius: 10px;
    color: aliceblue;
}

button:hover {
    background: aliceblue;
    border: 4px solid aliceblue;
    color: rgb(52, 132, 155);
}

a {
    text-decoration: none;
    color: inherit;
}

.aguachile-page {
    background-image: url("../imgs/aguachile.jpg");
}

.horchata-page {
    background-image: url("../imgs/horchata2.jpg");
}

.tamagoyaki-page {
    background-image: url("../imgs/tamagoyaki.jpg");
}

.about-uspage {
    background-image: url("../imgs/aboutus.jpg");
}

nav {
    position: absolute;
    z-index: 2;
    background-color: rgba(233, 240, 240, 0.781);
    width: 100%;
}

.navbar {
    display: none;
    font-size: large;
    font-weight: bolder;
    padding: 1rem;
    justify-content: space-between;
    list-style-type: none;
}

.navbar li {
    padding: 0 4px 0 4px;
    border-left: 4px solid rgb(52, 132, 155);
}

.navbar li:hover {
    text-decoration: underline;
    text-decoration-color: rgb(52, 132, 155);
}

/*Styel for Navbar design mobile first*/
.navbar-small {
    display: flex;
    width: 100%;
}

.indexmain {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.background-picture {
    width: 330%;
    transform: translateX(-20%);
}

.title-index {
    font-size: 7vw;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.subtitle-index {
    font-size: 5vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Break point for desktop*/
@media only screen and (min-width: 1024px) {
    .navbar-small {
        display: none;
    }

    .navbar {
        display: flex;
    }

    .background-picture {
        width: 130%;
    }

    .subtitle-index {
        top: 60%;
    }
}

.left {
    float: left;
}

.right {
    float: right;
}

.recipe {
    background-color: rgba(52, 132, 155, 0.9);
    width: 30%;
    height: 100vh;
    text-align: center;
    color: aliceblue;
    padding: 0px 20px 0px 20px;
}

.recipe * {
    margin-top: 10px;
    font-weight: bold;
}

.recipe h1 {
    font-size: xx-large;
}

.recipe h2 {
    font-size: large;
}

.recipe ul ol {
    margin-top: 0;
    text-align: justify;
}

.in_list li {
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    text-align: left;
}

.pre_list li {
    margin-top: 0;
    margin-bottom: 0%;
    text-align: left;
}

.profile1 {
    position: absolute;
    top: 20%;
    background-color: rgba(78, 151, 122, 0.9);
    width: 20%;
    text-align: left;
    color: aliceblue;
    padding: 20px;
    left: 5%;
}

.profile2 {
    position: absolute;
    top: 50%;
    background-color: rgba(66, 134, 197, 0.9);
    width: 20%;
    text-align: left;
    color: aliceblue;
    padding: 20px;
    right: 5%;
}

.profile1 h1,
.profile2 h1 {
    text-align: center;
}

.flag-img {
    float: right;
    width: 90px;
    filter: brightness(90%);
    margin-left: 2px;
}

.button2 {
    position: absolute;
    top: 90%;
    left: 45%;
}

/*---------------------------- FOOTER ----------------------------*/
.footerlogo-img {
    width: 20vw;
}

.footerlink-img {
    width: 3vw;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0%;
    background-color: rgba(240, 248, 255, 0.6);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerinfo {
    text-align: center;
}

.footercopyright {
    margin-right: 5px;
}

.footermenu li:hover {
    text-decoration: underline;
    text-decoration-color: rgb(52, 132, 155);
}

/*-- Mobile Phone --*/
@media (max-width: 480px) {
    .footer-container {
        flex-direction: column;
        row-gap: 10px;
    }

    .footerlogo-img {
        width: 70vw;
    }

    .footerlink-img {
        width: 10vw;
    }
}